// Responsive Media Queries

@media screen and (max-width: 769px) {

   .boxes {
      flex-flow: row wrap !important;
      // width: 100%;
      padding: 1rem !important;
   }
   html,body
   {
       width: 100%;
       height: 100%;
       margin: 0px;
       padding: 0px;
       overflow-x: hidden; 
   }
   .edittext {
      margin-bottom: 1rem;
      margin: 0 auto !important;
      text-align: left;
      padding: 1rem 0;
      width: 100% !important;
      line-height: 1.5;
      font-size: 1.2rem;
   }
   .leftinfo {
      button {
         width: 95%;
         margin: 0 auto;
         margin-top: 1rem;
      }
      p {
         text-align: left;
         padding: 1rem 0 !important;
         font-size: 1.2rem !important;
      }
   }

   .container {
      width: 100% !important;
   }

   input {
      width: 100% !important;
   }
   textarea {
      width: 98% !important;
   }

   form {
      button {
         width: 100% !important;
         margin: 0 auto !important;
         text-align: center;
         align-self: center !important;
         justify-self: center !important;
      }
   }
   .contact {
      padding: 0 !important;

      h2 {
         text-align: center;
         padding-top: 2rem;
      }
   }
   .contact-nav {
      margin-top: 1rem !important;
   }

   .desktopnav {

      // z-index: 9;
      display: none !important;
      // flex-flow: column nowrap !important;
      // position: fixed !important;
      // top: 0 !important;
      // bottom: 0 !important;
      // left: 0 !important;
      // right: 0 !important;
   
   }

   .mobilenav {
      position: fixed;
      // display: none !important;
      flex-flow: column nowrap;
      justify-content: space-evenly;
      align-items: center;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      z-index: 9;
      background-color: rgba($baseRed, 0.9);
      font-size: 3rem;
   }
   
   header{
      height: 4vh !important;
      background-color: rgba($baseRed, 0.6);
   }
   
   .sec1{

      .s1container {
         display: flex !important;
         flex-flow: row wrap !important;
         max-width: 1440px;
         margin: 0 auto;
         align-items: center;
         justify-content: space-evenly;
      }
      .box {
         width: 100%;
         flex-flow: row nowrap;
         justify-content: center;
         align-items: center;
         margin: 1rem !important;
         padding: 0;  
         border: none;
         border-bottom: 1px solid rgba($grey, 0.6);
      }
      .box:last-child {
         border: none;
      }
   }

   html {
      font-size: 10px;
   }


 
   .fa-bars {
      display: inline-block !important;
      padding-top: 1rem;
   }

   .hero-box {
   width: 100% !important;
   font-size: 1rem !important;
   .btn {
   
         font-size: 1.4rem;
         color: $white !important;
         border-color: $white !important;
      
   }
   }

   .hero {
      padding-top: 8rem !important;
      padding-bottom: 5rem !important;

   }
   .contact-nav {
      display: flex !important;
      justify-content: space-evenly;
      margin: 0 auto;
      margin-bottom: 2rem;
   }
   .one-img {
      width: 80% !important;
      order: 1;
   }
   .one-text {

      width: 100% !important;
      display: flex;
      flex-flow: column nowrap;
 
   }

   
   .container {
      flex-flow: column nowrap !important;
      justify-content: space-evenly;
   }

   .sec2 {
      text-align: center;
      padding: 3rem 0;
      color: $white;
      background-color: $baseRed;
      h2 {
         font-size: 3rem;
      }
      h3{
         font-size: 1.5rem;
         font-weight: 400;
         margin: 2rem 0;
      }
      .row {
         width: 90%;
         border: none !important;
         padding: 1rem 0 2rem 0 ;
         margin-bottom: 1rem ;
         border-bottom: 1px solid $white !important; 
         p {
            font-size: 1.5rem;
         }
         h3 {
            font-size: 1.8rem;
            font-weight: 700;
         }
      }
      .row:last-child {
         // border: none;
      }

   }

   .contact-form {
      width: 100% !important;
   }

   // display: flex;
   // flex-flow: column nowrap !important;
   .quotebox {
      margin: 0 auto !important;
      padding: 0 !important;
      // padding: 0 10rem !important;
      width: 100% !important;
      height: 30vh;

   }
   .sec4 {
      flex-direction: column;
   }
   
   .flexcol {
      width: 90% !important;
      justify-content: space-between;
      // align-items: center;
   }

   .infobox {
      width: 100% !important;
      text-align: center !important;
      &:hover {
         cursor: pointer !important;
      }
   }

   input {
      width: 80% !important;
   }
   .sec5 {
      .flexrow {
         flex-direction: column;
         width: 100% !important;
      }
   }
   .contact-form {
      button {
         margin: 0 auto;
         width: 60%;
      }
      .flexrow{
         flex-direction: column;
         input {
            width: 98% !important;
            margin: 0 auto;
            margin-top: 1rem;
         }
      }
   }
   .contact-info {
      margin: 0 auto;
      .info {
         padding-bottom: 1rem !important;
      }
   }
   .radiobtn {
      width: 33.33% !important;
      // margin-left: 1.2rem;
   }
   .s3content {
      button {
         margin: 0 auto;
         // color: $black !important;
         // border-color: $black;

      }
      padding-right: 0 !important;
      // text-align: center;
      .flexcol {
         width: 100%;
         order: 1;
      }
      .img {
         width: 90% !important;
         margin: 1rem auto;
         padding-left: 0 !important;
      }
      flex-direction: column;
      .btnrow {
         justify-content: center;
         margin-bottom: 2rem !important;
       width: 100%;
      //  text-align: center;
      //  margin: 0 auto;  
      }
   }

   #hamburger-icon {
      display: inline-block;
      // padding
   }


   .mob.dropdown {
      &:hover > .mob.sm1 {
         display: flex;
      }
   }

}

