/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
}

#hamburger-icon {
  display: inline-block;
  cursor: pointer;
  font-size: 2rem;
  position: fixed;
  top: 1.2rem;
  right: 2rem;
  z-index: 99;
  display: none;
}

.btn {
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid rgba(0, 0, 0, 0.76);
  border-radius: 5px;
  padding: 1rem 4rem;
  color: rgba(0, 0, 0, 0.76);
  font-weight: 400;
  font-size: 1rem;
  cursor: pointer;
}
.btn:hover {
  opacity: 0.8;
}

.flexrow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.flexcol {
  display: flex;
  flex-flow: column nowrap;
  width: 42%;
  justify-content: space-evenly;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-flow: row wrap !important;
  justify-content: space-evenly;
}

#bars {
  display: none;
}

img {
  width: 100%;
  border-radius: 10px;
}

.sm1, .sm2 {
  position: relative;
}

.sm1.submenu, .sm2.submenu {
  display: none;
}

.dropdown {
  z-index: 100;
}

.smb1:hover > .sm1.submenu {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  top: 3.8rem;
  z-index: 9;
  justify-content: space-evenly;
  height: auto;
  background-color: rgba(255, 255, 255, 0.884);
  width: auto;
  border-radius: 10px;
}

.smb2:hover > .sm2 {
  display: flex;
  flex-flow: column nowrap;
  position: absolute;
  top: 3.8rem;
  left: 6.8rem;
  z-index: 9;
  justify-content: space-evenly;
  height: auto;
  background-color: rgba(255, 255, 255, 0.884);
  width: auto;
  border-radius: 10px;
}

.submenu {
  z-index: 999;
  background-color: rgba(165, 165, 165, 0.6);
}
.submenu li {
  padding: 1rem;
}
.submenu li a {
  color: rgba(0, 0, 0, 0.76) !important;
}

header {
  padding: 1rem 0;
  background: transparent;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 10vh;
  color: rgba(255, 255, 255, 0.884);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
header a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.884);
}
header .logo {
  font-size: 1.8rem;
  font-weight: 400;
  margin-left: 1.8rem;
}
header .byline {
  font-size: 1.2rem;
}
header .mobilenav {
  display: none;
}
header .desktopnav ul {
  width: 30vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
header .desktopnav ul a {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.884);
}
header .desktopnav ul a:hover {
  padding-bottom: 0.2rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.884);
}
header .desktopnav ul .homepagelink {
  padding-bottom: 0.2rem !important;
  border-bottom: 1px solid rgba(255, 255, 255, 0.884) !important;
  color: rgba(0, 0, 0, 0.76);
  font-weight: 700;
}

#hamburger-icon {
  display: none;
}

#herobtn {
  color: rgba(255, 255, 255, 0.884);
  border-color: rgba(255, 255, 255, 0.884);
}

.hero {
  background-image: url(../images/pic01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;
  padding-bottom: 20rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 5rem;
  border-top: 10px solid #ff887b;
}

.hero-box {
  max-width: 60%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}
.hero-box i {
  display: grid;
  place-items: center;
  height: 7rem;
  width: 7rem;
  color: #ff887b;
  background-color: rgba(255, 255, 255, 0.884);
  font-size: 3rem;
  border-radius: 50%;
}
.hero-box h1 {
  color: rgba(255, 255, 255, 0.884);
  font-size: 4rem;
  text-align: center;
  margin-top: 3rem;
  font-weight: 400;
}
.hero-box hr {
  border: 1px solid rgba(255, 255, 255, 0.884);
  width: 100%;
  margin-top: 3rem;
}
.hero-box button {
  margin-top: 5rem;
}

.sec1 {
  padding: 5rem 0;
  background-color: rgba(255, 255, 255, 0.884);
  display: flex;
  flex-flow: row nowrap;
}
.sec1 .s1container {
  display: flex !important;
  flex-flow: row wrap !important;
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-evenly;
}
.sec1 h2 {
  color: rgba(0, 0, 0, 0.76);
  font-size: 2rem;
  font-weight: 600;
  padding: 0 5rem;
  text-align: center;
}
.sec1 h3 {
  font-size: 1.8rem;
  font-weight: 400;
  color: #ff887b;
  padding-bottom: 1rem;
}
.sec1 .one-img {
  width: 30%;
}
.sec1 .one-text {
  width: 70%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}
.sec1 .boxes {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
  font-size: 1.4rem;
}
.sec1 .box {
  width: 40%;
  display: flex;
  flex-flow: row nowrap;
  border: 1px solid rgba(165, 165, 165, 0.6);
  padding: 1rem !important;
}
.sec1 i {
  color: #ff887b;
  font-size: 2rem;
}
.sec1 .boxtext {
  padding-left: 2rem;
}
.sec1 .b1 {
  border-top: none;
  border-left: none;
}
.sec1 .b2 {
  border-top: none;
  border-right: none;
  border-left: none;
}
.sec1 .b3 {
  border-top: none;
  border-bottom: none;
  border-left: none;
}
.sec1 .b4 {
  border: none;
}

.b1 {
  border-top: none;
  border-left: none;
}

.sec2 {
  text-align: center;
  padding: 8rem 0;
  color: rgba(255, 255, 255, 0.884);
  background-color: #ff887b;
}
.sec2 .s2container {
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  flex-flow: row wrap !important;
  justify-content: space-evenly;
}
.sec2 h2 {
  font-size: 3rem;
}
.sec2 h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 2rem 0;
}
.sec2 .row {
  width: 20%;
  border-right: 1px solid rgba(255, 255, 255, 0.884);
  padding-right: 2rem;
}
.sec2 .row:last-child {
  border: none !important;
}

.sec3 {
  padding: 5rem 0;
  background-color: rgba(255, 255, 255, 0.884);
}
.sec3 .btnrow {
  width: 100%;
  display: flex;
  border-bottom: 1px solid rgba(165, 165, 165, 0.89);
}
.sec3 .btnrow .rb1 {
  border-right: 1px solid rgba(165, 165, 165, 0.89);
}
.sec3 .btnrow .rb3 {
  border-left: 1px solid rgba(165, 165, 165, 0.89);
  border-right: 1px solid rgba(165, 165, 165, 0.89);
}
.sec3 .btnrow button {
  border-bottom: 1px solid rgba(165, 165, 165, 0.89);
  border-top: 1px solid rgba(165, 165, 165, 0.89) !important;
  border: 0;
  border-radius: 0;
  padding: 1rem 3rem;
  border-bottom: none;
}
.sec3 .s3container {
  border: 1px solid rgba(165, 165, 165, 0.6);
  border-top: 0;
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
}
.sec3 .s3content {
  display: flex;
  justify-content: space-evenly;
  line-height: 1.4;
}
.sec3 .s3content button {
  width: 40%;
  padding: 1rem;
}
.sec3 .s3content .img {
  width: 50%;
}
.sec3 .s3content img {
  width: 100%;
  border-radius: 10px;
  height: auto;
}
.sec3 .s3content .flexcol {
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
  padding: 1rem 3rem;
}
.sec3 .s3content .flexcol h2 {
  margin-top: 1rem;
  font-size: 2.5rem;
  padding-bottom: 1rem;
  font-weight: 100;
}

.selected {
  border-bottom: none !important;
  background-color: white;
}

.sm1 {
  position: relative;
}

.sec4 {
  display: flex;
  flex-flow: row nowrap;
}
.sec4 .quotebox {
  padding: 10rem 7rem;
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.sec4 .quotebox h2 {
  padding: 2rem 0;
}
.sec4 .q1 {
  background: url("../images/pic03.jpg");
  background-repeat: no-repeat;
}
.sec4 .q2 {
  background: url("../images/pic04.jpg");
  background-repeat: no-repeat;
}
.sec4 h2 {
  color: rgba(255, 255, 255, 0.884);
  font-size: 2rem;
  font-weight: 300;
}
.sec4 p {
  color: #ff887b;
  font-size: 1rem;
}
.sec4 span {
  color: rgba(255, 255, 255, 0.884);
  font-size: 1rem;
}
.sec4 i {
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  font-size: 3rem;
  display: grid;
  place-items: center;
  background-color: #ff887b;
  color: rgba(255, 255, 255, 0.884);
}

.leftinfo {
  text-align: left;
  justify-content: space-evenly;
  padding: 1rem;
}
.leftinfo h2 {
  font-size: 2.5rem;
  padding-bottom: 2rem;
  font-weight: 100;
}
.leftinfo img {
  margin: 1rem 0;
}

.progress-item {
  padding: 1rem 0;
}
.progress-item label {
  font-size: 1.2rem;
  font-weight: 500;
  padding-bottom: 1rem;
}
.progress-item span {
  color: #ff887b;
  padding-bottom: 1rem;
}

.progress {
  justify-content: space-evenly;
}
.progress {
  padding: 1rem 0;
}
.progress span {
  margin-bottom: 2rem;
}

.file {
  margin: 1rem 0 1rem 0;
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Get rid of default border in Firefox. */
  border: none;
  /* Dimensions */
  width: 100%;
  height: 2px;
}

progress {
  background-color: rgba(165, 165, 165, 0.89);
}

progress::-webkit-progress-bar {
  background-color: rgba(165, 165, 165, 0.89);
  width: 100%;
}

progress::-moz-progress-bar {
  background-color: #ff887b !important;
}

progress::-webkit-progress-value {
  background-color: #ff887b !important;
}

.info {
  padding-bottom: 5rem;
}

.sec5 {
  background-color: rgba(255, 255, 255, 0.884);
  color: rgba(0, 0, 0, 0.76);
}
.sec5 button {
  margin-top: 2rem;
  border-color: rgba(0, 0, 0, 0.76);
  color: rgba(0, 0, 0, 0.76);
  padding: 1rem;
}

.contact-info {
  align-self: flex-start;
}

.contact-nav {
  display: flex;
}

.contact-nav > * {
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.884);
  height: 3rem;
  width: 3rem;
  border-radius: 10px;
  margin-right: 1rem;
  display: grid !important;
  place-items: center !important;
}
.contact-nav > *:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.contact {
  padding: 5rem;
  background-color: #ff887b;
  color: rgba(255, 255, 255, 0.884);
}
.contact button {
  border: 1px solid rgba(255, 255, 255, 0.7);
  color: rgba(255, 255, 255, 0.884);
  padding: 1rem;
}
.contact h2 {
  font-size: 2.5rem;
  padding-bottom: 2rem;
}
.contact address {
  text-align: left;
}
.contact .infobox {
  font-size: 1.5rem;
  display: flex;
  padding: 1rem 0;
  width: 50%;
}
.contact .infobox:hover {
  border-bottom: 1px solid;
  cursor: pointer !important;
  transform: scale(1.1) !important;
}
.contact .infobox i {
  margin-right: 1rem;
  padding-top: 0.25rem;
}
.contact input {
  display: inline-block;
  width: 45%;
}
.contact .contact-form {
  justify-content: space-between;
}
.contact .contact-form input, .contact .contact-form textarea {
  color: white;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}
.contact .contact-form input::placeholder, .contact .contact-form textarea::placeholder {
  padding: 1rem;
  color: rgba(255, 255, 255, 0.884);
}
.contact .contact-form input:focus, .contact .contact-form textarea:focus {
  border-color: white;
  border-width: 2px;
  color: white;
}
.contact .contact-form input:focus::placeholder, .contact .contact-form textarea:focus::placeholder {
  color: transparent;
}
.contact .contact-form input {
  width: 45%;
  font-size: 1.5rem;
  padding: 0.5rem;
}
.contact .contact-form textarea {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin: 2rem 0;
  width: 98%;
}

.footerline {
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
  margin: 2rem 0;
}

small {
  display: block;
  text-align: center;
}

@media screen and (max-width: 769px) {
  .boxes {
    flex-flow: row wrap !important;
    padding: 1rem !important;
  }

  html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }

  .edittext {
    margin-bottom: 1rem;
    margin: 0 auto !important;
    text-align: left;
    padding: 1rem 0;
    width: 100% !important;
    line-height: 1.5;
    font-size: 1.2rem;
  }

  .leftinfo button {
    width: 95%;
    margin: 0 auto;
    margin-top: 1rem;
  }
  .leftinfo p {
    text-align: left;
    padding: 1rem 0 !important;
    font-size: 1.2rem !important;
  }

  .container {
    width: 100% !important;
  }

  input {
    width: 100% !important;
  }

  textarea {
    width: 98% !important;
  }

  form button {
    width: 100% !important;
    margin: 0 auto !important;
    text-align: center;
    align-self: center !important;
    justify-self: center !important;
  }

  .contact {
    padding: 0 !important;
  }
  .contact h2 {
    text-align: center;
    padding-top: 2rem;
  }

  .contact-nav {
    margin-top: 1rem !important;
  }

  .desktopnav {
    display: none !important;
  }

  .mobilenav {
    position: fixed;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 9;
    background-color: rgba(255, 136, 123, 0.9);
    font-size: 3rem;
  }

  header {
    height: 4vh !important;
    background-color: rgba(255, 136, 123, 0.6);
  }

  .sec1 .s1container {
    display: flex !important;
    flex-flow: row wrap !important;
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-evenly;
  }
  .sec1 .box {
    width: 100%;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    margin: 1rem !important;
    padding: 0;
    border: none;
    border-bottom: 1px solid rgba(165, 165, 165, 0.6);
  }
  .sec1 .box:last-child {
    border: none;
  }

  html {
    font-size: 10px;
  }

  .fa-bars {
    display: inline-block !important;
    padding-top: 1rem;
  }

  .hero-box {
    width: 100% !important;
    font-size: 1rem !important;
  }
  .hero-box .btn {
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.884) !important;
    border-color: rgba(255, 255, 255, 0.884) !important;
  }

  .hero {
    padding-top: 8rem !important;
    padding-bottom: 5rem !important;
  }

  .contact-nav {
    display: flex !important;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-bottom: 2rem;
  }

  .one-img {
    width: 80% !important;
    order: 1;
  }

  .one-text {
    width: 100% !important;
    display: flex;
    flex-flow: column nowrap;
  }

  .container {
    flex-flow: column nowrap !important;
    justify-content: space-evenly;
  }

  .sec2 {
    text-align: center;
    padding: 3rem 0;
    color: rgba(255, 255, 255, 0.884);
    background-color: #ff887b;
  }
  .sec2 h2 {
    font-size: 3rem;
  }
  .sec2 h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 2rem 0;
  }
  .sec2 .row {
    width: 90%;
    border: none !important;
    padding: 1rem 0 2rem 0;
    margin-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.884) !important;
  }
  .sec2 .row p {
    font-size: 1.5rem;
  }
  .sec2 .row h3 {
    font-size: 1.8rem;
    font-weight: 700;
  }
  .contact-form {
    width: 100% !important;
  }

  .quotebox {
    margin: 0 auto !important;
    padding: 0 !important;
    width: 100% !important;
    height: 30vh;
  }

  .sec4 {
    flex-direction: column;
  }

  .flexcol {
    width: 90% !important;
    justify-content: space-between;
  }

  .infobox {
    width: 100% !important;
    text-align: center !important;
  }
  .infobox:hover {
    cursor: pointer !important;
  }

  input {
    width: 80% !important;
  }

  .sec5 .flexrow {
    flex-direction: column;
    width: 100% !important;
  }

  .contact-form button {
    margin: 0 auto;
    width: 60%;
  }
  .contact-form .flexrow {
    flex-direction: column;
  }
  .contact-form .flexrow input {
    width: 98% !important;
    margin: 0 auto;
    margin-top: 1rem;
  }

  .contact-info {
    margin: 0 auto;
  }
  .contact-info .info {
    padding-bottom: 1rem !important;
  }

  .radiobtn {
    width: 33.33% !important;
  }

  .s3content {
    padding-right: 0 !important;
    flex-direction: column;
  }
  .s3content button {
    margin: 0 auto;
  }
  .s3content .flexcol {
    width: 100%;
    order: 1;
  }
  .s3content .img {
    width: 90% !important;
    margin: 1rem auto;
    padding-left: 0 !important;
  }
  .s3content .btnrow {
    justify-content: center;
    margin-bottom: 2rem !important;
    width: 100%;
  }

  #hamburger-icon {
    display: inline-block;
  }

  .mob.dropdown:hover > .mob.sm1 {
    display: flex;
  }
}

/*# sourceMappingURL=style.css.map */
