@import "reset.scss";

$baseRed: #ff887b;
$white: rgba(255, 255, 255, 0.884);
$black: rgba(0, 0, 0, 0.76);
$grey: rgba(165, 165, 165, 0.89);

body {
   font-family: 'Montserrat', sans-serif;
   line-height: 1.2;
}

.flexcol {
   display: flex;
   flex-flow: column nowrap;
   width: 50%;
   justify-content: space-between;
   // align-items: center;
}
.container {
   max-width: 1440px;
   margin: 0 auto;
   align-items: center;
   display: flex;
   justify-content: space-evenly;
}

img {
   width: 100%;
   border-radius: 10px;
}

header {
   background: transparent;
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   // height: 10vh;
   color: $white;
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;

   .logo {
      font-size: 1.8rem;
      font-weight: 400;
      margin-left: 1.8rem;
   }
   .byline {
      font-size: 1.2rem;

   }
   nav {
      width: 30vw;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      a {
         text-decoration: none;
         color: $white;
      }
      .dropdown {
         &:hover{
            
         }
      }
   }
}

.hero {
   background-image: url(../images/pic01.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   display: grid;
   place-items: center;
   padding-bottom: 20rem;
}

.hero-box {
   width: 50%;
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   justify-content: space-around;
   i {
      display: grid;
      place-items: center;
      height: 7rem;
      width: 7rem;
      color: $baseRed;
      background-color: $white;
      font-size: 3rem;
      border-radius: 50%;
   }
   h1 {
      color: $white;
      font-size: 4rem;
      text-align: center;
      margin-top: 3rem;
      font-weight: 300;
   }
   hr {

      border: 1px solid $white;
      width: 100%;
      margin-top: 3rem;
   }
   button {
      margin-top: 5rem;
   }
}

.sec1 {
   padding: 5rem 0;
   // height: 100vh;
   background-color: $white;
   display: flex;
   flex-flow: row nowrap;
   h2 {
      color: $black;
      font-size: 2rem;
      font-weight: 300;
      justify-self: flex-start;
   }
   h3 {
      font-size: 1.5rem;
      font-weight: 400;
      color: $baseRed;
      padding-bottom: 1rem;
      // align-self: flex-start;
   }
   .one-img {
      width: 30%;
   }
   .one-text {
      // height: 80vh;
      width: 70%;
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-evenly;
      padding-left: 5rem;
   }
   .boxes {
      display: flex;
      flex-flow: row wrap;
   }
   .box {
      width: 40%;
      display: flex;
      border: 1px solid grey;
      padding: 2rem;

   }
   i {
      padding-top: 0.5rem;
      color: $baseRed;
      font-size: 1.5rem;
   }
   .boxtext {
      padding-left: 2rem;
   }
   .b1 {
      border-top: none;
      border-left: none;
   }
   .b2 {
      border-top: none;
      border-right: none;
      border-left: none;
   }
   .b3 {
      border-top: none;
      border-bottom: none;
      border-left: none;
   }
   .b4 {
      border: none;
   }
}

.b1 {
   border-top: none;
   border-left: none;
}

.sec2 {
   text-align: center;
   padding: 8rem 0;
   color: $white;
   background-color: $baseRed;
   h2 {
      font-size: 3rem;
   }
   h3{
      font-size: 1.5rem;
      font-weight: 400;
      margin: 2rem 0;
   }
   .row {
      width: 20%;
      border-right: 1px solid $white;
      padding-right: 2rem;
   }
   .row:last-child {
      border: none;
   }
}

.sec3 {
   // height: 50vh;
   background-color: $white;

}

.leftinfo {
   text-align: left;
   // height: 40vh;
   justify-content: space-evenly;
   padding: 5rem;
   h2 {
      font-size: 2.5rem;
      padding-bottom: 2rem;
      font-weight: 100;
   }
}

.progress {
   justify-content: space-evenly;
   // height: 40vh;
   label {

   }
}



.sec4 {
   // height: 70vh;
   .imgflex {
      display: flex;
      flex-flow: row nowrap;
   }
   img {
      width: 50%;
      border-radius: 0;

   }
   .sec4text {
      position: absolute;
      margin: 0 auto;   
      text-align: center;
      align-items: center;
   }
   .sec4box {
      width: 50%;
      text-align: center;
   }
   h2{
      color: $white;
      font-size: 2rem;
      font-weight: 300;
   }
   p {
      color: $baseRed;
      font-size: 1rem;
   }
   span {
      color: $white;
      font-size: 1rem;
   }
   i {
      border-radius: 50%;
      height: 6rem;
      width: 6rem;
      font-size: 3rem;
      // display: grid;
      // place-items: center;
      background-color: $baseRed;
      color: $white;

   }
}



.file {
   /* Reset the default appearance */
   -webkit-appearance: none;
      -moz-appearance: none;
           appearance: none;
   
   /* Get rid of default border in Firefox. */
   border: none;
   
   /* Dimensions */
   width: 250px;
   height: 2px;

 }

 .progress {
    color: $black;   
 }



.info {
   padding-bottom: 5rem;
}

.sec5 {
   height: 100vh;
   background-color: $white;
   color: $black;
   padding-top: 5rem;
}

.contact {

   button {
      border: 1px solid $grey;
   }
   padding: 5rem;
   background-color: $baseRed;
   color: $white;
   height: 100vh;


   h2 {
      font-size: 2.5rem;
      padding-bottom: 2rem;
   }

   .infobox {
      padding: 1rem 0;
      width: 50%;
   }

   input {
      display: inline-block;
      width: 45%;
   }

   .contact-form {
      justify-content: space-between;
      input, textarea {
         background-color: transparent;
         border: 1px solid $grey;
         border-radius: 5px;
      }
      input {
         font-size: 1.5rem;
         padding: 0.5rem;
      }
      textarea {
         margin: 2rem 0;
      }
   }
}
.btn {
   background-color: transparent;
   text-transform: uppercase;
   border: 1px solid $white;
   border-radius: 5px;
   padding: 1rem 4rem;
   color: $white;
   font-weight: 400;
   font-size: 1rem;
}

.flexrow {
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
}

.footerline {
   border-bottom: 1px solid $grey;
   // width: 50vw;
   margin: 2rem 0;
}

small {
   display: block;
   text-align: center;
}