/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
}

.flexcol {
  display: flex;
  flex-flow: column nowrap;
  width: 50%;
  justify-content: space-between;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

img {
  width: 100%;
  border-radius: 10px;
}

header {
  background: transparent;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  color: rgba(255, 255, 255, 0.884);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
header .logo {
  font-size: 1.8rem;
  font-weight: 400;
  margin-left: 1.8rem;
}
header .byline {
  font-size: 1.2rem;
}
header nav {
  width: 30vw;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
}
header nav a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.884);
}

.hero {
  background-image: url(../images/pic01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;
  padding-bottom: 20rem;
}

.hero-box {
  width: 50%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
}
.hero-box i {
  display: grid;
  place-items: center;
  height: 7rem;
  width: 7rem;
  color: #ff887b;
  background-color: rgba(255, 255, 255, 0.884);
  font-size: 3rem;
  border-radius: 50%;
}
.hero-box h1 {
  color: rgba(255, 255, 255, 0.884);
  font-size: 4rem;
  text-align: center;
  margin-top: 3rem;
  font-weight: 300;
}
.hero-box hr {
  border: 1px solid rgba(255, 255, 255, 0.884);
  width: 100%;
  margin-top: 3rem;
}
.hero-box button {
  margin-top: 5rem;
}

.sec1 {
  padding: 5rem 0;
  background-color: rgba(255, 255, 255, 0.884);
  display: flex;
  flex-flow: row nowrap;
}
.sec1 h2 {
  color: rgba(0, 0, 0, 0.76);
  font-size: 2rem;
  font-weight: 300;
  justify-self: flex-start;
}
.sec1 h3 {
  font-size: 1.5rem;
  font-weight: 400;
  color: #ff887b;
  padding-bottom: 1rem;
}
.sec1 .one-img {
  width: 30%;
}
.sec1 .one-text {
  width: 70%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  padding-left: 5rem;
}
.sec1 .boxes {
  display: flex;
  flex-flow: row wrap;
}
.sec1 .box {
  width: 40%;
  display: flex;
  border: 1px solid grey;
  padding: 2rem;
}
.sec1 i {
  padding-top: 0.5rem;
  color: #ff887b;
  font-size: 1.5rem;
}
.sec1 .boxtext {
  padding-left: 2rem;
}
.sec1 .b1 {
  border-top: none;
  border-left: none;
}
.sec1 .b2 {
  border-top: none;
  border-right: none;
  border-left: none;
}
.sec1 .b3 {
  border-top: none;
  border-bottom: none;
  border-left: none;
}
.sec1 .b4 {
  border: none;
}

.b1 {
  border-top: none;
  border-left: none;
}

.sec2 {
  text-align: center;
  padding: 8rem 0;
  color: rgba(255, 255, 255, 0.884);
  background-color: #ff887b;
}
.sec2 h2 {
  font-size: 3rem;
}
.sec2 h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 2rem 0;
}
.sec2 .row {
  width: 20%;
  border-right: 1px solid rgba(255, 255, 255, 0.884);
  padding-right: 2rem;
}
.sec2 .row:last-child {
  border: none;
}

.sec3 {
  background-color: rgba(255, 255, 255, 0.884);
}

.leftinfo {
  text-align: left;
  justify-content: space-evenly;
  padding: 5rem;
}
.leftinfo h2 {
  font-size: 2.5rem;
  padding-bottom: 2rem;
  font-weight: 100;
}

.progress {
  justify-content: space-evenly;
}
.sec4 {
  padding: 50rem 0;
}
.sec4 .q1 {
  background: url("../images/pic03.jpg") 0 0 cover;
}
.sec4 .q2 {
  background: url("../images/pic04.jpg") 0 0 cover;
}
.sec4 h2 {
  color: rgba(255, 255, 255, 0.884);
  font-size: 2rem;
  font-weight: 300;
}
.sec4 p {
  color: #ff887b;
  font-size: 1rem;
}
.sec4 span {
  color: rgba(255, 255, 255, 0.884);
  font-size: 1rem;
}
.sec4 i {
  border-radius: 50%;
  height: 6rem;
  width: 6rem;
  font-size: 3rem;
  display: grid;
  place-items: center;
  background-color: #ff887b;
  color: rgba(255, 255, 255, 0.884);
}

.file {
  /* Reset the default appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Get rid of default border in Firefox. */
  border: none;
  /* Dimensions */
  width: 250px;
  height: 2px;
}

.progress[max] {
  background-color: rgba(255, 255, 255, 0.884);
}

.progress[value] {
  background-color: #ff887b;
}

.info {
  padding-bottom: 5rem;
}

.sec5 {
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.884);
  color: rgba(0, 0, 0, 0.76);
  padding-top: 5rem;
}

.contact {
  padding: 5rem;
  background-color: #ff887b;
  color: rgba(255, 255, 255, 0.884);
  height: 100vh;
}
.contact button {
  border: 1px solid rgba(165, 165, 165, 0.89);
}
.contact h2 {
  font-size: 2.5rem;
  padding-bottom: 2rem;
}
.contact .infobox {
  padding: 1rem 0;
  width: 50%;
}
.contact input {
  display: inline-block;
  width: 45%;
}
.contact .contact-form {
  justify-content: space-between;
}
.contact .contact-form input, .contact .contact-form textarea {
  background-color: transparent;
  border: 1px solid rgba(165, 165, 165, 0.89);
  border-radius: 5px;
}
.contact .contact-form input {
  font-size: 1.5rem;
  padding: 0.5rem;
}
.contact .contact-form textarea {
  margin: 2rem 0;
}

.btn {
  background-color: transparent;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.884);
  border-radius: 5px;
  padding: 1rem 4rem;
  color: rgba(255, 255, 255, 0.884);
  font-weight: 400;
  font-size: 1rem;
}

.flexrow {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.footerline {
  border-bottom: 1px solid rgba(165, 165, 165, 0.89);
  margin: 2rem 0;
}

small {
  display: block;
  text-align: center;
}

@media screen and (max-width: 768px) {
  html {
    font-size: 10px;
  }

  nav {
    display: none !important;
  }

  .hero {
    padding-top: 5rem !important;
  }
  .hero .btn {
    font-size: 1.4rem;
  }

  .one-img {
    width: 80% !important;
    order: 1;
  }

  .one-text {
    width: 100% !important;
    display: flex;
    flex-flow: column nowrap;
  }

  .box {
    width: 100% !important;
    display: flex;
    border: 1px solid grey;
    padding: 2rem;
    border: none !important;
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
  }

  .sec2 {
    text-align: center;
    padding: 8rem 0;
    color: rgba(255, 255, 255, 0.884);
    background-color: #ff887b;
  }
  .sec2 h2 {
    font-size: 3rem;
  }
  .sec2 h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 2rem 0;
  }
  .sec2 .row {
    width: 80% !important;
    padding: none !important;
    border: none !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.884) !important;
    padding-bottom: 5rem !important;
    margin-bottom: 5rem !important;
  }
  .sec2 .row:last-child {
    border: none;
  }

  .quotebox {
    width: 100% !important;
    height: 30vh;
  }

  .sec4 {
    flex-direction: column;
  }

  .flexcol {
    width: 90% !important;
    justify-content: space-between;
  }

  .infobox {
    width: 100% !important;
  }

  input {
    width: 80% !important;
  }

  .sec5 .flexrow {
    flex-direction: column;
    width: 100% !important;
  }
}

/*# sourceMappingURL=style.css.map */
